@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

body {
  font-family: "Indie Flower", sans-serif;
}

#instr {
  font-size: 30px;
  text-align: center;
  margin: 0px;
}

#name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  justify-content: center;
}

#para {
  margin: 0px;
  font-size: 150px;
}
